src/pug/index.pug
extends tmp/tmp-demo
block link
  - var page = 'demo'
  - var login = false
  - var page_title = 'DEMO'
block title
  title ANEURO - #{page_title}
block content
  -
    var pages = [
      {"name":"Главная","num":"0001"},
      {"name":"Детальная","num":"0002"},
      {"name":"Статьи","num":"0003"},
      {"name":"О себе","num":"0004"} 

    ]
  style.
    .list-pages {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      font-face: Arial;
    }
    .list-pages li {
      list-style: none;
    }
    .list-pages li a{
      text-decoration: none;
      white-space: nowrap;
      color: #00a1de;
      font-size: 15px;
    }

  .content.p-0
    .container
      ul.list-pages
        each item in pages
          li
            a(href="p"+item.num+".html")
              span!= item.num
              em.ml-1.mr-1 -
              strong!= item.name

build/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ANEURO - DEMO</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <style>
      html, body, .wrap {
        height: 100%;
      }
      ul li a {
        color: #333 !important;
      }
    </style>
  </head>
  <!-- head-->
  <body class="demo" style="background: #fff;">
    <div class="wrap d-flex align-items-center justify-content-center">
      <style>
        .list-pages {
          max-width: 1170px;
          width: 100%;
          margin: 0 auto;
          font-face: Arial;
        }
        .list-pages li {
          list-style: none;
        }
        .list-pages li a{
          text-decoration: none;
          white-space: nowrap;
          color: #00a1de;
          font-size: 15px;
        }
        
      </style>
      <div class="content p-0">
        <div class="container">
          <ul class="list-pages">
            <li><a href="p0001.html"><span>0001</span><em class="ml-1 mr-1">-</em><strong>Главная</strong></a></li>
            <li><a href="p0002.html"><span>0002</span><em class="ml-1 mr-1">-</em><strong>Детальная</strong></a></li>
            <li><a href="p0003.html"><span>0003</span><em class="ml-1 mr-1">-</em><strong>Статьи</strong></a></li>
            <li><a href="p0004.html"><span>0004</span><em class="ml-1 mr-1">-</em><strong>О себе</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
