src/pug/p0001.pug
extends tmp/tmp-default
block link
  - var page = 'index'
  - var header = 'trans'
  - var page_class = 'main'
  - var login = false
  - var page_title = 'Главная'

block title
  title ANEURO - #{page_title}
block content
  .content
    .s.s-top
      .container
        .row.align-items-xl-end.align-items-lg-end
          .col-xl-5.col-lg-5.col-md-5.col-6
            article
              h1.mb-xl-4.mb-lg-4.mb-md-3.mb-sm-2.mb-1
                i Эффективное<br> нейрохирургическое<br> лечение
              ul.list.list__arrow.d-xl-block.d-lg-block.d-none.mb-0.pb-2
                li
                  i Диагностика и лечение заболеваний и<br> травм головного мозга, спинного мозга,<br> позвоночника
                li
                  i Хирургическое лечение при<br> новообразованиях
                li
                  i Широкий спектр современных минимально<br> инвазивных технологий в хирургии
                li
                  i Диагностика и лечение травм<br> периферической нервной системы
                li
                  i Индивидуальный подход в решении<br> вопросов тактики лечения

            .d-xl-none.d-lg-none.d-block
              +module("consult mb-xl-2 mb-lg-2 mb-md-3 mb-sm-2 mb-1")
                .box-order
                  a.text-nowrap(href="#")
                    i Запись на консультацию
                .box-shedule
                  i.text-nowrap с 8:00 до 24:00, без выходных
                .box-phone
                  i.text-nowrap +7 (909) 945 7812
                .box-email
                  a(href="#")
                    i.text-nowrap avg.avg03@gmail.com

              +module("name mb-xl-2 mb-lg-2 mb-md-3 mb-sm-2 mb-1")
                span.d-block.mb-xl-2.mb-lg-2.mb-md-2.mb-sm-2.mb-1
                  i Гаврюшин<br> Андрей<br> Владимирович
                a.d-block(href="#")
                  i Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории

              +module("share")
                a(href="#")
                  i.inst
                a(href="#")
                  i.fb

          .col-xl-7.col-lg-7.col-md-7.col-6
            .block__img
              +img("m0","png")
    .s.s-order
      .container
        .d-xl-none.d-lg-none.d-block
          +module("nav nav-mobile")
            - let nav2 = ["О себе","Заболевания","Симптомы","Контакты","Лечение","Отзывы"]
            ul.row.no-gutters.mb-0.pb-1
              each item,i in nav2
                li.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-6
                  a.border(href="#")!= item



        .row.align-items-center
          .col-xl-6.col-lg-5.order-xl-0.order-lg-0.order-1
            .list__services
              .item.row.align-items-center.pb-xl-2.mb-xl-5.mb-lg-5.mb-3
                .col-xl-2.col-lg-2.col-2
                  .item__left
                    i.icon-1
                .col-xl-10.col-lg-10.col-10
                  .item__right.pl-2
                    h3.mb-1
                      i Клинические базы<br> ФГБУ НИИ НХ Бурденко РАМН 7
                    .item__address.mb-1
                      i Москва, 4-я Тверская-Ямская, д.16
                    .more
                      a(href="#")
                        i Читать подробно
              //- end item
              .item.row.align-items-center.pb-xl-2.mb-xl-5.mb-lg-5.mb-3
                .col-xl-2.col-lg-2.col-2
                  .item__left
                    i.icon-2
                .col-xl-10.col-lg-10.col-10
                  .item__right.pl-2
                    h3.mb-1
                      i Проведение исследований
                    .item__name.mb-1
                      i Лаборатория ФГБУ
                    .item__state.mb-1
                      i Центр хирургии мозга<br> им. Марковича А.В.
                    .more
                      a(href="#")
                        i Читать подробно
              //- end item
              .item.row.align-items-center
                .col-xl-2.col-lg-2.col-2
                  .item__left
                    i.icon-3
                .col-xl-10.col-lg-10.col-10
                  .item__right.pl-2
                    h3.mb-2
                      i Краткий словарь<br> медицинских терминов
                    .more
                      a(href="#")
                        i Читать подробно
              //- end item
          .col-xl-6.col-lg-7.mb-xl-0.mb-lg-0.mb-3.d-xl-block.d-lg-block.d-md-block.d-none
            +module("order pt-2 pl-2 pr-2 pb-xl-0 pb-2")
              form
                .d-flex.justify-content-between.module__top.mb-2
                  h3
                    i Запись на прием
                  i.d-xl-block.d-lg-block.d-md-block.d-none Москва, 4-я Тверская-Ямская, д.16
                .row.align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  .col-xl-4
                    label.mb-1.d-xl-block.d-lg-block.d-md-block.d-none(for="l1")
                      i Ваше имя
                  .col-xl-8
                    input.form-control.w-100.rounded(type="text" placeholder="Семенович Степанида Изольдовна")
                .row.align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  .col-xl-4
                    label.mb-1.d-xl-block.d-lg-block.d-md-block.d-none(for="l2")
                      i Ваш телефон
                  .col-xl-8
                    input.form-control.w-100.rounded.phone(type="text" placeholder="+7 (495) 495 36 78")
                .row.align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  .col-xl-4
                    label.mb-1.d-xl-block.d-lg-block.d-md-block.d-none(for="l3")
                      i Ваш e-mail
                  .col-xl-8
                    input.form-control.w-100.rounded(type="text")
                .row.align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  .col-xl-4
                    label.mb-1(for="l4")
                      i Ссылка на ваши материалы
                  .col-xl-8
                    input.form-control.w-100.rounded(type="text")
                .form-group.mb-1
                  textarea.form-control.w-100.rounded Опишите вашу проблему
                .form-group.mb-0
                  .row
                    .col-xl-6
                      .form-group.mb-0
                        button.upload.btn.btn-upload(type="button" tabindex="-1")
                          span Загрузить ваши материалы
                        span.js-upload
                          input.file(type='file' data-multiple-caption="выбрано {count} шт. файлов" multiple)
                          label.mt-1.mb-0(for="file")
                            span

                    .col-xl-6
                      button.btn.btn-green.w-100 Записаться на прием
          //- mobile versions
          .col-12.mb-3.d-xl-none.d-lg-none.d-md-none.d-block
            +module("order pt-2 pl-2 pr-2 pb-xl-0 pb-2")
              form
                .d-flex.justify-content-between.module__top.mb-2
                  h3
                    i Запись на прием
                .align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  input.form-control.w-100.rounded(type="text" placeholder="Ваше имя")
                .align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  input.form-control.w-100.rounded.phone(type="text" placeholder="Ваш телефон")
                .align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  input.form-control.w-100.rounded(type="text" placeholder="Ваш e-mail")
                .align-items-center.mb-xl-2.mb-lg-2.mb-md-2.mb-1
                  input.form-control.w-100.rounded(type="text" placeholder="Ссылка на ваши материалы")
                .form-group.mb-1
                  textarea.form-control.w-100.rounded Опишите вашу проблему
                .form-group.mb-0
                  button.upload.btn.btn-upload(type="button" tabindex="-1")
                    span Загрузить ваши материалы
                  span.js-upload
                    input.file(type='file' data-multiple-caption="выбрано {count} шт. файлов" multiple)
                    label.mt-1.mb-0(for="file")
                      span
                .form-group.mb-0
                  button.btn.btn-green.w-100 Записаться на прием
    .s.s-info-0
      .container
        .row
          .col-xl-7.col-lg-7
            h2
              i Заболевания и лечение
            .block__list.mb-xl-1.pb-xl-3.pb-lg-3.pb-2
              h3
                i Головной мозг
              ul.list
                li
                  i Опухоли головного мозга и его оболочек
                li
                  i Опухоли костей и основания черепа
                li
                  i Артериовенозные мальформации  и кавернозные ангиомы
                li
                  i Аневризма сосудов головного мозга
                li
                  i Невралгия тройничного нерва и лицевой гемиспазм
              .view
                a(href="#")
                  i Смотреть весь список
            .block__list
              h3
                i Позвоночник и спинной мозг
              ul.list
                li
                  i Опухоли спинного мозга (экстрамедуллярные<br> и интрамедуллярные) и его оболочек
                li
                  i Кавернозные ангиомы спинного мозга
                li
                  i Межпозвоночная грыжа
                li
                  i Стеноз позвоночного канала
                li
                  i Фасеточный болевой синдром

              .view
                a(href="#")
                  i Смотреть весь список

          .col-xl-5.col-lg-5.d-xl-block.d-lg-block.d-none
            +img("img0").img-fluid

    //- end s
    //- start s
    .s.s-info-1
      .container
        .row.align-items-end
          .col-xl-5.col-lg-5.d-xl-block.d-lg-block.d-none
            +img("img1").img-fluid
          .col-xl-7.col-lg-7
            .pt-3.pl-2
              .block__tabs
                ul.d-flex.flex-wrap
                  li.pr-1
                    a.btn(href="#")
                      i Заболевание
                  li.pr-1
                    a.btn(href="#")
                      i Симптомы
                  li
                    a.btn(href="#")
                      i Лечение

              h2
                i Удаление межпозвонковой грыжи  с имплантацией искусственного<br> диска M6
              article.pb-3
                p
                  i Искусственный межпозвонковый диск - это наиболее технически продвинутая система, предназначенная для стабилизации сегмента позвоночника в тех операциях, где требуется удаление дегенерированного межпозвонкового диска. В большинстве случаев это операции по удалению межпозвонковой грыжи.
                p
                  i Диск имеет <a href="#">амортизирующее</a> ядро из поликарбонат-уретана, фиброзное кольцо из полиэтилена и титановые пластины со специальным напылением, стимулирующим прорастание костной ткани для надежной фиксации диска в телах позвонков.
                p
                  i Наиболее важное отличие <a href="#">М6</a> от предыдущих поколений эндопротезов состоит в том, что он обеспечивает восстановление движений в позвоночном сегменте в объеме,
                .more
                  a(href="#")
                    i Читать дальше
    //- end s
    //- start s
    .s.s-carousel.pt-xl-4.pt-lg-4.pt-md-4.pt-sm-4.pb-4
      .container
        .carousel.carousel-0
          - for (var x = 0; x < 2; x++)
          a.item.d-block(href="#")
            span.d-block.item__video
              +img("v0").img-fluid.w-100
            span.d-block.item__name Техника операции по установке эндопротеза M6-L
          a.item.d-block(href="#")
            span.d-block.item__video
              +img("v1").img-fluid.w-100
            span.d-block.item__name Конструкция эндопротеза межпозвонкового шейного диска М6-C
          a.item.d-block(href="#")
            span.d-block.item__video
              +img("v2").img-fluid.w-100
            span.d-block.item__name Сравнение человеческого диска и эндопротеза диска М6
    //- end s
    //- start s
    .s.s-history.pt-xl-4.pb-xl-3.pt-lg-4.pb-lg-3.pt-3.pb-3
      .container.pt-xl-1.pb-xl-1.pt-lg-1.pb-lg-1
        h2.mb-xl-4.mb-lg-4.mb-3
          i Истории и отзывы пациентов
        -
          let histories = [
          {"name":"Новоселцев Максим","status":"Профессиональный фотограф"},
          {"name":"Сенцова светлана","status":"Флорист"},
          {"name":"Новоселцев Максим","status":"Учитель начальных классов"},
          {"name":"Новоселцев Максим","status":"Рестовратор"}
          ]
        .carousel.carousel-history
          - for (var x = 0; x < 2; x++)
          each item,i in histories
            a.item.d-block(href="#")
              span.d-block.item__img
                +img("h"+i).img-fluid.w-100
              span.d-block.item__text
                span.d-block.item__name
                  i!= item.name
                span.d-block.item__status
                  i!= item.status

        .see-all.pt-xl-4.pt-lg-4.pt-3
          a(href="#")
            i Смотреть остальные
    //- end s

block append footer
  include layouts/modal/_base

build/p0001.html
<!DOCTYPE html>
<html lang="ru"><!--<![endif]-->
  <head>
    <title>ANEURO - Главная</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="./css/aoc.css"/>
    <link rel="stylesheet" href="./css/fancybox.min.css"/>
    <link rel="stylesheet" href="./css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <script src="./js/base/svg4everybody.min.js"></script>
    <script src="./js/base/jquery.min.js"></script>
    <script src="./js/base/tether.min.js"></script>
    <script src="./js/base/popper.min.js"></script>
    <script src="./js/base/bootstrap.min.js"></script>
    <script src="./js/plugins/slick.js"></script>
    <script src="./js/plugins/fancybox.min.js"></script>
    <script src="./js/plugins/nouislider.min.js"></script>
    <script src="./js/plugins/wnumb.js"></script>
    <script src="./js/plugins/mask.js"></script>
    <script src="./js/plugins/select2.full.min.js"></script>
    <script src="./js/plugins/icheck.min.js"></script>
    <script src="./js/plugins/aoc.js"></script>
    <script src="./js/plugins/stiky.js"></script>
    <script src="./js/main.js"></script><!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <script type="text/javascript" src="js/base/html5.js"></script>
    <script type="text/javascript" src="js/base/modernizr.js"></script>
    <script type="text/javascript" src="js/base/selectivizr.js"></script>
    <script type="text/javascript" src="js/base/respond.js"></script><![endif]-->
    <script>svg4everybody()</script>
  </head>
  <!-- head-->
  <body class="main">
    <div class="wrap">
      <div class="over"></div>
      <header class="d-xl-block d-lg-block d-none">
        <div class="container">
          <div class="row no-gutters justify-content-between">
            <div class="col-xl-7 col-lg-7">
              <div class="row no-gutters">
                <div class="col-xl-8 col-lg-8">
                  <div class="module module__nav">
                    <ul class="row no-gutters">
                      <li class="col-xl-4 col-lg-4"><a class="border" href="#">О себе</a></li>
                      <li class="col-xl-4 col-lg-4"><a class="border" href="#">Заболевания</a></li>
                      <li class="col-xl-4 col-lg-4"><a class="border" href="#">Симптомы</a></li>
                      <li class="col-xl-4 col-lg-4"><a class="border" href="#">Контакты</a></li>
                      <li class="col-xl-4 col-lg-4"><a class="border" href="#">Лечение</a></li>
                      <li class="col-xl-4 col-lg-4"><a class="border" href="#">Отзывы</a></li>
                    </ul>
                  </div><!-- end module nav -->
                </div>
                <div class="col-xl-4 col-lg-4 mb-xl-0 mb-lg-0 mb-md-0 mb-1">
                  <div class="module module__consult pl-1">
                    <div class="box-order"><a class="text-nowrap" href="#" data-toggle="modal" data-target="#modalOrder"><i>Запись на консультацию</i><i class="arrow-bottom ml-1"></i></a></div>
                    <div class="box-shedule"><i class="text-nowrap">с 8:00 до 24:00, без выходных</i></div>
                    <div class="box-phone"><i class="text-nowrap">+7 (909) 945 7812</i></div>
                    <div class="box-email"><a href="#"><i class="text-nowrap">avg.avg03@gmail.com</i></a></div>
                  </div><!-- end module consult pl-1 -->
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2">
              <div class="module module__name mb-2"><span class="mb-1"><i>Гаврюшин<br> Андрей<br> Владимирович</i></span><a href="#"><i>Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории</i></a><i class="arrow-bottom"></i>
              </div><!-- end module name mb-2 -->
              <div class="module module__share"><a href="#"><i class="inst"></i></a><a href="#"><i class="fb"></i></a>
              </div><!-- end module share -->
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="s s-top">
          <div class="container">
            <div class="row align-items-xl-end align-items-lg-end">
              <div class="col-xl-5 col-lg-5 col-md-5 col-6">
                <article>
                  <h1 class="mb-xl-4 mb-lg-4 mb-md-3 mb-sm-2 mb-1"><i>Эффективное<br> нейрохирургическое<br> лечение</i></h1>
                  <ul class="list list__arrow d-xl-block d-lg-block d-none mb-0 pb-2">
                    <li><i>Диагностика и лечение заболеваний и<br> травм головного мозга, спинного мозга,<br> позвоночника</i></li>
                    <li><i>Хирургическое лечение при<br> новообразованиях</i></li>
                    <li><i>Широкий спектр современных минимально<br> инвазивных технологий в хирургии</i></li>
                    <li><i>Диагностика и лечение травм<br> периферической нервной системы</i></li>
                    <li><i>Индивидуальный подход в решении<br> вопросов тактики лечения</i></li>
                  </ul>
                </article>
                <div class="d-xl-none d-lg-none d-block">
                  <div class="module module__consult mb-xl-2 mb-lg-2 mb-md-3 mb-sm-2 mb-1">
                    <div class="box-order"><a class="text-nowrap" href="#"><i>Запись на консультацию</i></a></div>
                    <div class="box-shedule"><i class="text-nowrap">с 8:00 до 24:00, без выходных</i></div>
                    <div class="box-phone"><i class="text-nowrap">+7 (909) 945 7812</i></div>
                    <div class="box-email"><a href="#"><i class="text-nowrap">avg.avg03@gmail.com</i></a></div>
                  </div><!-- end module consult mb-xl-2 mb-lg-2 mb-md-3 mb-sm-2 mb-1 -->
                  <div class="module module__name mb-xl-2 mb-lg-2 mb-md-3 mb-sm-2 mb-1"><span class="d-block mb-xl-2 mb-lg-2 mb-md-2 mb-sm-2 mb-1"><i>Гаврюшин<br> Андрей<br> Владимирович</i></span><a class="d-block" href="#"><i>Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории</i></a>
                  </div><!-- end module name mb-xl-2 mb-lg-2 mb-md-3 mb-sm-2 mb-1 -->
                  <div class="module module__share"><a href="#"><i class="inst"></i></a><a href="#"><i class="fb"></i></a>
                  </div><!-- end module share -->
                </div>
              </div>
              <div class="col-xl-7 col-lg-7 col-md-7 col-6">
                <div class="block__img"><img src="images/m0.png" alt="m0"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="s s-order">
          <div class="container">
            <div class="d-xl-none d-lg-none d-block">
              <div class="module module__nav nav-mobile">
                <ul class="row no-gutters mb-0 pb-1">
                  <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6"><a class="border" href="#">О себе</a></li>
                  <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6"><a class="border" href="#">Заболевания</a></li>
                  <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6"><a class="border" href="#">Симптомы</a></li>
                  <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6"><a class="border" href="#">Контакты</a></li>
                  <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6"><a class="border" href="#">Лечение</a></li>
                  <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6"><a class="border" href="#">Отзывы</a></li>
                </ul>
              </div><!-- end module nav nav-mobile -->
            </div>
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-5 order-xl-0 order-lg-0 order-1">
                <div class="list__services">
                  <div class="item row align-items-center pb-xl-2 mb-xl-5 mb-lg-5 mb-3">
                    <div class="col-xl-2 col-lg-2 col-2">
                      <div class="item__left"><i class="icon-1"></i></div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-10">
                      <div class="item__right pl-2">
                        <h3 class="mb-1"><i>Клинические базы<br> ФГБУ НИИ НХ Бурденко РАМН 7</i></h3>
                        <div class="item__address mb-1"><i>Москва, 4-я Тверская-Ямская, д.16</i></div>
                        <div class="more"><a href="#"><i>Читать подробно</i></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="item row align-items-center pb-xl-2 mb-xl-5 mb-lg-5 mb-3">
                    <div class="col-xl-2 col-lg-2 col-2">
                      <div class="item__left"><i class="icon-2"></i></div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-10">
                      <div class="item__right pl-2">
                        <h3 class="mb-1"><i>Проведение исследований</i></h3>
                        <div class="item__name mb-1"><i>Лаборатория ФГБУ</i></div>
                        <div class="item__state mb-1"><i>Центр хирургии мозга<br> им. Марковича А.В.</i></div>
                        <div class="more"><a href="#"><i>Читать подробно</i></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="item row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-2">
                      <div class="item__left"><i class="icon-3"></i></div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-10">
                      <div class="item__right pl-2">
                        <h3 class="mb-2"><i>Краткий словарь<br> медицинских терминов</i></h3>
                        <div class="more"><a href="#"><i>Читать подробно</i></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-7 mb-xl-0 mb-lg-0 mb-3 d-xl-block d-lg-block d-md-block d-none">
                <div class="module module__order pt-2 pl-2 pr-2 pb-xl-0 pb-2">
                  <form>
                    <div class="d-flex justify-content-between module__top mb-2">
                      <h3><i>Запись на прием</i></h3><i class="d-xl-block d-lg-block d-md-block d-none">Москва, 4-я Тверская-Ямская, д.16</i>
                    </div>
                    <div class="row align-items-center mb-xl-2 mb-lg-2 mb-md-2 mb-1">
                      <div class="col-xl-4">
                        <label class="mb-1 d-xl-block d-lg-block d-md-block d-none" for="l1"><i>Ваше имя</i></label>
                      </div>
                      <div class="col-xl-8">
                        <input class="form-control w-100 rounded" type="text" placeholder="Семенович Степанида Изольдовна">
                      </div>
                    </div>
                    <div class="row align-items-center mb-xl-2 mb-lg-2 mb-md-2 mb-1">
                      <div class="col-xl-4">
                        <label class="mb-1 d-xl-block d-lg-block d-md-block d-none" for="l2"><i>Ваш телефон</i></label>
                      </div>
                      <div class="col-xl-8">
                        <input class="form-control w-100 rounded phone" type="text" placeholder="+7 (495) 495 36 78">
                      </div>
                    </div>
                    <div class="row align-items-center mb-xl-2 mb-lg-2 mb-md-2 mb-1">
                      <div class="col-xl-4">
                        <label class="mb-1 d-xl-block d-lg-block d-md-block d-none" for="l3"><i>Ваш e-mail</i></label>
                      </div>
                      <div class="col-xl-8">
                        <input class="form-control w-100 rounded" type="text">
                      </div>
                    </div>
                    <div class="row align-items-center mb-xl-2 mb-lg-2 mb-md-2 mb-1">
                      <div class="col-xl-4">
                        <label class="mb-1" for="l4"><i>Ссылка на ваши материалы</i></label>
                      </div>
                      <div class="col-xl-8">
                        <input class="form-control w-100 rounded" type="text">
                      </div>
                    </div>
                    <div class="form-group mb-1">
                      <textarea class="form-control w-100 rounded">Опишите вашу проблему</textarea>
                    </div>
                    <div class="form-group mb-0">
                      <div class="row">
                        <div class="col-xl-6">
                          <div class="form-group mb-0">
                            <button class="upload btn btn-upload" type="button" tabindex="-1"><span>Загрузить ваши материалы</span></button><span class="js-upload">
                              <input class="file" type="file" data-multiple-caption="выбрано {count} шт. файлов" multiple>
                              <label class="mt-1 mb-0" for="file"><span></span></label></span>
                          </div>
                        </div>
                        <div class="col-xl-6">
                          <button class="btn btn-green w-100">Записаться на прием</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div><!-- end module order pt-2 pl-2 pr-2 pb-xl-0 pb-2 -->
              </div>
              <div class="col-12 mb-3 d-xl-none d-lg-none d-md-none d-block">
                <div class="module module__order pt-2 pl-2 pr-2 pb-xl-0 pb-2">
                  <form>
                    <div class="d-flex justify-content-between module__top mb-2">
                      <h3><i>Запись на прием</i></h3>
                    </div>
                    <div class="align-items-center mb-xl-2 mb-lg-2 mb-md-2 mb-1">
                      <input class="form-control w-100 rounded" type="text" placeholder="Ваше имя">
                    </div>
                    <div class="align-items-center mb-xl-2 mb-lg-2 mb-md-2 mb-1">
                      <input class="form-control w-100 rounded phone" type="text" placeholder="Ваш телефон">
                    </div>
                    <div class="align-items-center mb-xl-2 mb-lg-2 mb-md-2 mb-1">
                      <input class="form-control w-100 rounded" type="text" placeholder="Ваш e-mail">
                    </div>
                    <div class="align-items-center mb-xl-2 mb-lg-2 mb-md-2 mb-1">
                      <input class="form-control w-100 rounded" type="text" placeholder="Ссылка на ваши материалы">
                    </div>
                    <div class="form-group mb-1">
                      <textarea class="form-control w-100 rounded">Опишите вашу проблему</textarea>
                    </div>
                    <div class="form-group mb-0">
                      <button class="upload btn btn-upload" type="button" tabindex="-1"><span>Загрузить ваши материалы</span></button><span class="js-upload">
                        <input class="file" type="file" data-multiple-caption="выбрано {count} шт. файлов" multiple>
                        <label class="mt-1 mb-0" for="file"><span></span></label></span>
                    </div>
                    <div class="form-group mb-0">
                      <button class="btn btn-green w-100">Записаться на прием</button>
                    </div>
                  </form>
                </div><!-- end module order pt-2 pl-2 pr-2 pb-xl-0 pb-2 -->
              </div>
            </div>
          </div>
        </div>
        <div class="s s-info-0">
          <div class="container">
            <div class="row">
              <div class="col-xl-7 col-lg-7">
                <h2><i>Заболевания и лечение</i></h2>
                <div class="block__list mb-xl-1 pb-xl-3 pb-lg-3 pb-2">
                  <h3><i>Головной мозг</i></h3>
                  <ul class="list">
                    <li><i>Опухоли головного мозга и его оболочек</i></li>
                    <li><i>Опухоли костей и основания черепа</i></li>
                    <li><i>Артериовенозные мальформации  и кавернозные ангиомы</i></li>
                    <li><i>Аневризма сосудов головного мозга</i></li>
                    <li><i>Невралгия тройничного нерва и лицевой гемиспазм</i></li>
                  </ul>
                  <div class="view"><a href="#"><i>Смотреть весь список</i></a></div>
                </div>
                <div class="block__list">
                  <h3><i>Позвоночник и спинной мозг</i></h3>
                  <ul class="list">
                    <li><i>Опухоли спинного мозга (экстрамедуллярные<br> и интрамедуллярные) и его оболочек</i></li>
                    <li><i>Кавернозные ангиомы спинного мозга</i></li>
                    <li><i>Межпозвоночная грыжа</i></li>
                    <li><i>Стеноз позвоночного канала</i></li>
                    <li><i>Фасеточный болевой синдром</i></li>
                  </ul>
                  <div class="view"><a href="#"><i>Смотреть весь список</i></a></div>
                </div>
              </div>
              <div class="col-xl-5 col-lg-5 d-xl-block d-lg-block d-none"><img class="img-fluid" src="images/img0.jpg" alt="img0"/>
              </div>
            </div>
          </div>
        </div>
        <div class="s s-info-1">
          <div class="container">
            <div class="row align-items-end">
              <div class="col-xl-5 col-lg-5 d-xl-block d-lg-block d-none"><img class="img-fluid" src="images/img1.jpg" alt="img1"/>
              </div>
              <div class="col-xl-7 col-lg-7">
                <div class="pt-3 pl-2">
                  <div class="block__tabs">
                    <ul class="d-flex flex-wrap">
                      <li class="pr-1"><a class="btn" href="#"><i>Заболевание</i></a></li>
                      <li class="pr-1"><a class="btn" href="#"><i>Симптомы</i></a></li>
                      <li><a class="btn" href="#"><i>Лечение</i></a></li>
                    </ul>
                  </div>
                  <h2><i>Удаление межпозвонковой грыжи  с имплантацией искусственного<br> диска M6</i></h2>
                  <article class="pb-3">
                    <p><i>Искусственный межпозвонковый диск - это наиболее технически продвинутая система, предназначенная для стабилизации сегмента позвоночника в тех операциях, где требуется удаление дегенерированного межпозвонкового диска. В большинстве случаев это операции по удалению межпозвонковой грыжи.</i></p>
                    <p><i>Диск имеет <a href="#">амортизирующее</a> ядро из поликарбонат-уретана, фиброзное кольцо из полиэтилена и титановые пластины со специальным напылением, стимулирующим прорастание костной ткани для надежной фиксации диска в телах позвонков.</i></p>
                    <p><i>Наиболее важное отличие <a href="#">М6</a> от предыдущих поколений эндопротезов состоит в том, что он обеспечивает восстановление движений в позвоночном сегменте в объеме,</i></p>
                    <div class="more"><a href="#"><i>Читать дальше</i></a></div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="s s-carousel pt-xl-4 pt-lg-4 pt-md-4 pt-sm-4 pb-4">
          <div class="container">
            <div class="carousel carousel-0"><a class="item d-block" href="#"><span class="d-block item__video"><img class="img-fluid w-100" src="images/v0.jpg" alt="v0"/></span><span class="d-block item__name">Техника операции по установке эндопротеза M6-L</span></a><a class="item d-block" href="#"><span class="d-block item__video"><img class="img-fluid w-100" src="images/v1.jpg" alt="v1"/></span><span class="d-block item__name">Конструкция эндопротеза межпозвонкового шейного диска М6-C</span></a><a class="item d-block" href="#"><span class="d-block item__video"><img class="img-fluid w-100" src="images/v2.jpg" alt="v2"/></span><span class="d-block item__name">Сравнение человеческого диска и эндопротеза диска М6</span></a>
            </div>
          </div>
        </div>
        <div class="s s-history pt-xl-4 pb-xl-3 pt-lg-4 pb-lg-3 pt-3 pb-3">
          <div class="container pt-xl-1 pb-xl-1 pt-lg-1 pb-lg-1">
            <h2 class="mb-xl-4 mb-lg-4 mb-3"><i>Истории и отзывы пациентов</i></h2>
            <div class="carousel carousel-history"><a class="item d-block" href="#"><span class="d-block item__img"><img class="img-fluid w-100" src="images/h0.jpg" alt="h0"/></span><span class="d-block item__text"><span class="d-block item__name"><i>Новоселцев Максим</i></span><span class="d-block item__status"><i>Профессиональный фотограф</i></span></span></a><a class="item d-block" href="#"><span class="d-block item__img"><img class="img-fluid w-100" src="images/h1.jpg" alt="h1"/></span><span class="d-block item__text"><span class="d-block item__name"><i>Сенцова светлана</i></span><span class="d-block item__status"><i>Флорист</i></span></span></a><a class="item d-block" href="#"><span class="d-block item__img"><img class="img-fluid w-100" src="images/h2.jpg" alt="h2"/></span><span class="d-block item__text"><span class="d-block item__name"><i>Новоселцев Максим</i></span><span class="d-block item__status"><i>Учитель начальных классов</i></span></span></a><a class="item d-block" href="#"><span class="d-block item__img"><img class="img-fluid w-100" src="images/h3.jpg" alt="h3"/></span><span class="d-block item__text"><span class="d-block item__name"><i>Новоселцев Максим</i></span><span class="d-block item__status"><i>Рестовратор</i></span></span></a>
            </div>
            <div class="see-all pt-xl-4 pt-lg-4 pt-3"><a href="#"><i>Смотреть остальные</i></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- start footer-->
    <footer class="footer d-flex flex-column justify-content-between">
      <!-- start container-->
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 footer__left">
            <div class="row justify-content-between">
              <div class="col-xl-5 col-lg-6">
                <div class="module module__name">
                  <h3 class="mb-2"><i>Гаврюшин<br> Андрей<br> Владимирович</i></h3>
                  <div class="box-status mb-2"><i>Нейрохирург, кандидат<br> медицинских наук,<br> врач высшей категории.</i></div>
                  <div class="module module__contacts mb-2 d-xl-none d-lg-none d-md-none d-block">
                    <div class="box-address mb-1"><i>Москва,<br> Варшавское шоссе, дом 135</i></div>
                    <div class="box-phone mb-1"><i>+7 (909) 945 7812</i></div>
                    <div class="box-phone"><i>info@nairobt.ru</i></div>
                  </div><!-- end module contacts mb-2 d-xl-none d-lg-none d-md-none d-block -->
                  <div class="box-copyright"><i>&copy; 2013 <strong>Andrey GV</strong></i></div>
                </div><!-- end module name -->
              </div>
              <div class="col-xl-5 col-lg-6 d-xl-block d-lg-block d-none">
                <div class="module module__abmulator pr-xl-4 pr-lg-4">
                  <h3 class="mb-2"><i>Лечение</i></h3>
                  <ul>
                    <li class="mb-2"><a href="#"><i>Головной мозг</i></a></li>
                    <li class="mb-2"><a href="#"><i>Позвоночник и спинной мозг</i></a></li>
                    <li><a href="#"><i>Периферическая нервная система</i></a></li>
                  </ul>
                </div><!-- end module abmulator pr-xl-4 pr-lg-4 -->
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="row">
              <div class="col-xl-6 col-lg-6 footer__right d-xl-block d-lg-block d-none">
                <div class="module module__base pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3">
                  <h3 class="mb-2"><i>Клинические базы</i></h3>
                  <ul>
                    <li class="mb-2"><a href="#"><i>ФГБУ НИИ НХ Бурденко<br> РАМН 7</i></a></li>
                    <li><a href="#"><i>Управление делами Президента  РФ ФГБУ «Клиническая больница №1»</i></a></li>
                  </ul>
                </div><!-- end module base pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3 -->
              </div>
              <div class="col-xl-6 col-lg-6 footer__right--right d-xl-block d-lg-block d-md-block d-none mb-2">
                <div class="module module__contacts pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3 pl-md-2">
                  <h3 class="mb-2"><i>Контакты</i></h3>
                  <div class="box-address mb-2"><i>Москва,<br> Варшавское шоссе, дом 135</i></div>
                  <div class="box-phone mb-2"><i>+7 (909) 945 7812</i></div>
                  <div class="box-phone"><i>info@nairobt.ru</i></div>
                </div><!-- end module contacts pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3 pl-md-2 -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end container-->
    </footer>
    <!-- end footer-->
    <script src="js/plugins/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/plugins/jquery.mousewheel.min.js"></script>
    <script src="js/plugins/jquery.malihu.PageScroll2id.js"></script>
    <script src="js/plugins/stiky.js"></script>
    <script src="js/range.js"></script>
    <script>(function() {
  $('.scrollTo').mPageScroll2id({
    offset: 100
  });

  $('#sidebar').stickySidebar({
    bottomSpacing: 20
  });

}).call(this);

    </script>
    <script>(function() {
  window.onload = function() {
    AOS.init({
      duration: 600
    });
  };

}).call(this);

    </script>
    <div class="modal" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="modalOrder" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="container">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
          <div class="modal-content">
            <div class="modal-body">
              <h5 class="modal-title mb-3 text-uppercase">Запись на консультацию</h5>
              <form action="">
                <div class="form-group">
                  <input class="form-control" id="t1" type="text" name="t1" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                  <input class="form-control phone" id="t2" type="text" name="t2" placeholder="Ваш телефон">
                </div>
                <div class="form-group">
                  <button class="btn btn-green">Отправить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
