build/p0003.html
<!DOCTYPE html>
<html lang="ru"><!--<![endif]-->
  <head>
    <title>ANEURO - Подробная страница</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="./css/aoc.css"/>
    <link rel="stylesheet" href="./css/fancybox.min.css"/>
    <link rel="stylesheet" href="./css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <script src="./js/base/svg4everybody.min.js"></script>
    <script src="./js/base/jquery.min.js"></script>
    <script src="./js/base/tether.min.js"></script>
    <script src="./js/base/popper.min.js"></script>
    <script src="./js/base/bootstrap.min.js"></script>
    <script src="./js/plugins/slick.js"></script>
    <script src="./js/plugins/fancybox.min.js"></script>
    <script src="./js/plugins/nouislider.min.js"></script>
    <script src="./js/plugins/wnumb.js"></script>
    <script src="./js/plugins/mask.js"></script>
    <script src="./js/plugins/select2.full.min.js"></script>
    <script src="./js/plugins/icheck.min.js"></script>
    <script src="./js/plugins/aoc.js"></script>
    <script src="./js/plugins/stiky.js"></script>
    <script src="./js/main.js"></script><!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <script type="text/javascript" src="js/base/html5.js"></script>
    <script type="text/javascript" src="js/base/modernizr.js"></script>
    <script type="text/javascript" src="js/base/selectivizr.js"></script>
    <script type="text/javascript" src="js/base/respond.js"></script><![endif]-->
    <script>svg4everybody()</script>
  </head>
  <!-- head-->
  <body class="detail">
    <div class="wrap">
      <div class="over"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-8" id="article">
              <div class="mr-5"></div>
              <header>
                <div class="container">
                  <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 d-xl-block d-lg-block d-md-block d-sm-block d-none">
                      <div class="module module__nav">
                        <ul class="row no-gutters">
                          <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4"><a class="border" href="#">О себе</a></li>
                          <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4"><a class="border" href="#">Заболевания</a></li>
                          <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4"><a class="border" href="#">Симптомы</a></li>
                          <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4"><a class="border" href="#">Контакты</a></li>
                          <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4"><a class="border" href="#">Лечение</a></li>
                          <li class="col-xl-4 col-lg-4 col-md-4 col-sm-4"><a class="border" href="#">Отзывы</a></li>
                        </ul>
                      </div><!-- end module nav -->
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-xl-0 mb-lg-0 mb-md-0 mb-3">
                      <div class="module module__consult pl-xl-2 pl-lg-2 pl-md-2">
                        <div class="box-order"><a class="text-nowrap" href="#" data-toggle="modal" data-target="#modalOrder"><i>Запись на консультацию</i></a></div>
                        <div class="box-shedule"><i class="text-nowrap">с 8:00 до 24:00, без выходных</i></div>
                        <div class="box-phone"><i class="text-nowrap">+7 (909) 945 7812</i></div>
                        <div class="box-email"><a href="#"><i class="text-nowrap">avg.avg03@gmail.com</i></a></div>
                      </div><!-- end module consult pl-xl-2 pl-lg-2 pl-md-2 -->
                    </div>
                  </div>
                </div>
              </header>
              <article>
                <h1 class="mb-3">Лечение</h1>
                <div class="blog__sw mb-3">
                  <ul class="row no-gutters">
                    <li class="col current"><a class="d-block text-center" href="#">Головной мозг</a></li>
                    <li class="col"><a class="d-block text-center" href="#">Позвоночник и спинной мозг</a></li>
                  </ul>
                </div>
                <div class="list__blog mb-2">
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b1.jpg" alt="img_b1"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Артерио-венозные мальформации</a></h3>
                          <p class="mb-0">Врожденный сложный сосудистый порок развития.<br> Образование представляет собой клубок сосудов, напрямую связывяющий артериальную и венозную системы и, таким образом, шунтирующий часть крови минуя мозговое вещество.<br>АВМ могут проявляться внутримозговыми кровоизлияниями или ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b2.jpg" alt="img_b2"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Черепно-мозговая травмы головы, перелом черепа, ушибы и отеки головного мозга</a></h3>
                          <p class="mb-0">Основные принципы классификации: тяжесть (лёгкая черепно-мозговая травма, черепно-мозговая травма средней тяжести, тяжёлая черепно-мозговая травма), сочетанность (изолированная, сочетанная, комбинированная), вид повреждения ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b3.jpg" alt="img_b3"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Межпозвоночная грыжа<br> (грыжа межпозвонкового диска)</a></h3>
                          <p class="mb-0">Межпозвоночная грыжа (межпозвонковая грыжа, грыжа межпозвоночного диска, грыжа позвоночника) - это смещение (выпячивание) фрагмента ядра межпозвоночного диска в спинномозговой канал, вследствие чего происходит сдавливание ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b4.jpg" alt="img_b4"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Кавернозные ангиомы</a></h3>
                          <p class="mb-0">Разновидность сосудистых мальформаций, формирующихся в различных отделах головного и спинного мозга. Эти образования обычно четко отграничены от окружающих тканей и представляют собой совокупность сосудистых полостей различных размеров и формы, содержащих продукты распада крови...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b5.jpg" alt="img_b5"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Эпилепсия</a></h3>
                          <p class="mb-0">Эпилепсия - это болезнь, возникающая в результате чрезмерной патологической электрической активности отдельных частей головного мозга, что приводит к периодическим судорожным припадкам. Припадки могут быть различными. Некоторые люди просто застывают на месте на несколько секунд, у других же ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b6.jpg" alt="img_b6"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Спондилолистез</a></h3>
                          <p class="mb-0">Смещение (соскальзывание) одного из позвонков относительно нижележащего вперед (антеролистез) или назад (ретролистез). Спондилолистез наиболее часто встречается в шейном и поясничном отделах позвоночника, обладающих большей подвижностью и испытывающих наибольшую вертикальную ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b7.jpg" alt="img_b7"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Грыжа межпозвоночного диска в поясничном отделе</a></h3>
                          <p class="mb-0">Позвоночник человека состоит из позвонков, между которыми расположены межпозвоночные диски. Межпозвоночные диски дают возможность позвоночнику двигаться и обеспечивают его амортизацию, смягчая нагрузку. Межпозвоночный диск состоит из жесткого внешнего фиброзного кольца и мягкого внутреннего ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b8.jpg" alt="img_b8"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Аномалия Арнольда-Киари</a></h3>
                          <p class="mb-0">Врачи подразделяют синдром (аномалию) Арнольда-Киари на 3 типа, в зависимости от структуры ткани головного мозга, которая перемещается в позвоночный канал, и от наличия патологии развития головного или спинного мозга.<br> Многие пациенты, страдающие синдромом Киари, не имеют ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item mb-1">
                    <div class="row">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center"><a class="d-block item__photo" href="#"><img src="images/img_b9.jpg" alt="img_b9"/></a></div>
                      <div class="col-9">
                        <div class="item__text">
                          <h3><a href="#">Стеноз позвоночного канала</a></h3>
                          <p class="mb-0">Хронический процесс, характеризующийся патологическим сужением центрального позвоночного канала, латерального кармана или межпозвонкового отверстия костными, хрящевыми и мягкоткаными структурами, с вторжением их в пространства, занимаемые нервными корешками и спинным мозгом. Стеноз может быть в ...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link page-link-prev" href="#"><i class="page-prev"></i></a></li>
                    <li class="page-item"><a class="page-link current" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link page-link-next" href="#"><i class="page-next"></i></a></li>
                  </ul>
                </nav>
              </article>
            </div>
            <div class="col-xl-4 col-lg-4 d-xl-block d-lg-block d-none" style="position: relative;">
              <div class="sidebar sidebar__right" id="sidebar">
                <div class="block__bg pt-2">
                  <div class="module module__name mb-1"><span class="mb-1"><i>Гаврюшин<br> Андрей<br> Владимирович</i></span><a href="#"><i>Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории</i></a>
                    <div class="pt-1"><i class="d-arrow"></i></div>
                  </div><!-- end module name mb-1 -->
                  <div class="module module__share pb-4"><a href="#"><i class="inst"></i></a><a href="#"><i class="fb"></i></a>
                  </div><!-- end module share pb-4 -->
                </div>
                <div class="module module__news mb-2 mt-3">
                  <div class="item d-flex align-items-center">
                    <div class="pr-2"><i class="icon-1"></i></div>
                    <div>
                      <h3><a href="#">Клинические базы ФГБУ НИИ НХ Бурденко РАМН 7</a></h3>
                      <p>Москва, 4-я Тверская-Ямская, д.16</p><a class="link-more" href="#">Читать подробно</a>
                    </div>
                  </div>
                  <div class="item d-flex align-items-center">
                    <div class="pr-2"><i class="icon-2"></i></div>
                    <div>
                      <h3><a href="#">Проведение иследований</a></h3>
                      <p>Лаборатогия ФГБУ<br> Центр хирургии мозга<br> им. Марковича А.В.</p><a class="link-more" href="#">Читать подробно</a>
                    </div>
                  </div>
                  <div class="item d-flex align-items-center">
                    <div class="pr-2"><i class="icon-3"></i></div>
                    <div>
                      <h3><a href="#">Клинические базы ФГБУ НИИ НХ Бурденко РАМН 7</a></h3>
                      <p>Москва, 4-я Тверская-Ямская, д.16</p><a class="link-more" href="#">Читать подробно</a>
                    </div>
                  </div>
                </div><!-- end module news mb-2 mt-3 -->
                <div class="module module__form">
                  <h3 class="mb-2">Запись на прием</h3>
                  <form action="#">
                    <div class="form-group">
                      <input class="form-control error" type="text" placeholder="Ваше имя">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="tel" placeholder="Ваш телефон">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="email" placeholder="Ваш e-mail">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Ссылка на ваши материалы">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Опишите вашу праблему"></textarea>
                    </div>
                    <div class="form-group mb-0">
                      <div class="d-block">
                        <button class="upload btn btn-upload d-flex align-items-center" type="button" tabindex="-1"><i class="icon-down mr-1"></i><span>Загрузить ваши материалы</span></button>
                      </div>
                      <div class="d-block"><span class="js-upload">
                          <input class="file" type="file" data-multiple-caption="выбрано {count} шт. файлов" multiple>
                          <label class="mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-1" for="file"><span></span></label></span></div>
                    </div>
                    <div class="form-group mb-0">
                      <button class="btn btn-green">Записаться на прием</button>
                    </div>
                  </form>
                </div><!-- end module form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- start footer-->
    <footer class="footer d-flex flex-column justify-content-between">
      <!-- start container-->
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 footer__left">
            <div class="row justify-content-between">
              <div class="col-xl-5 col-lg-6">
                <div class="module module__name">
                  <h3 class="mb-2"><i>Гаврюшин<br> Андрей<br> Владимирович</i></h3>
                  <div class="box-status mb-2"><i>Нейрохирург, кандидат<br> медицинских наук,<br> врач высшей категории.</i></div>
                  <div class="module module__contacts mb-2 d-xl-none d-lg-none d-md-none d-block">
                    <div class="box-address mb-1"><i>Москва,<br> Варшавское шоссе, дом 135</i></div>
                    <div class="box-phone mb-1"><i>+7 (909) 945 7812</i></div>
                    <div class="box-phone"><i>info@nairobt.ru</i></div>
                  </div><!-- end module contacts mb-2 d-xl-none d-lg-none d-md-none d-block -->
                  <div class="box-copyright"><i>&copy; 2013 <strong>Andrey GV</strong></i></div>
                </div><!-- end module name -->
              </div>
              <div class="col-xl-5 col-lg-6 d-xl-block d-lg-block d-none">
                <div class="module module__abmulator pr-xl-4 pr-lg-4">
                  <h3 class="mb-2"><i>Лечение</i></h3>
                  <ul>
                    <li class="mb-2"><a href="#"><i>Головной мозг</i></a></li>
                    <li class="mb-2"><a href="#"><i>Позвоночник и спинной мозг</i></a></li>
                    <li><a href="#"><i>Периферическая нервная система</i></a></li>
                  </ul>
                </div><!-- end module abmulator pr-xl-4 pr-lg-4 -->
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="row">
              <div class="col-xl-6 col-lg-6 footer__right d-xl-block d-lg-block d-none">
                <div class="module module__base pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3">
                  <h3 class="mb-2"><i>Клинические базы</i></h3>
                  <ul>
                    <li class="mb-2"><a href="#"><i>ФГБУ НИИ НХ Бурденко<br> РАМН 7</i></a></li>
                    <li><a href="#"><i>Управление делами Президента  РФ ФГБУ «Клиническая больница №1»</i></a></li>
                  </ul>
                </div><!-- end module base pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3 -->
              </div>
              <div class="col-xl-6 col-lg-6 footer__right--right d-xl-block d-lg-block d-md-block d-none mb-2">
                <div class="module module__contacts pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3 pl-md-2">
                  <h3 class="mb-2"><i>Контакты</i></h3>
                  <div class="box-address mb-2"><i>Москва,<br> Варшавское шоссе, дом 135</i></div>
                  <div class="box-phone mb-2"><i>+7 (909) 945 7812</i></div>
                  <div class="box-phone"><i>info@nairobt.ru</i></div>
                </div><!-- end module contacts pl-xl-3 pr-xl-3 pl-lg-3 pr-lg-3 pl-md-2 -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end container-->
    </footer>
    <!-- end footer-->
    <script src="js/plugins/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/plugins/jquery.mousewheel.min.js"></script>
    <script src="js/plugins/jquery.malihu.PageScroll2id.js"></script>
    <script src="js/plugins/stiky.js"></script>
    <script src="js/range.js"></script>
    <script>(function() {
  $('.scrollTo').mPageScroll2id({
    offset: 100
  });

  $('#sidebar').stickySidebar({
    bottomSpacing: 20
  });

}).call(this);

    </script>
    <script>(function() {
  window.onload = function() {
    AOS.init({
      duration: 600
    });
  };

}).call(this);

    </script>
    <div class="modal" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="modalOrder" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="container">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
          <div class="modal-content">
            <div class="modal-body">
              <h5 class="modal-title mb-3 text-uppercase">Запись на консультацию</h5>
              <form action="">
                <div class="form-group">
                  <input class="form-control" id="t1" type="text" name="t1" placeholder="Ваше имя">
                </div>
                <div class="form-group">
                  <input class="form-control phone" id="t2" type="text" name="t2" placeholder="Ваш телефон">
                </div>
                <div class="form-group">
                  <button class="btn btn-green">Отправить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/pug/p0003.pug
extends tmp/tmp-inner
block link
  - var page = 'detail'
  - var header = 'trans'
  - var page_class = 'detail'
  - var login = false
  - var page_title = 'Подробная страница'

block title
  title ANEURO - #{page_title}

block content
  article
    h1.mb-3 Лечение
    .blog__sw.mb-3
      ul.row.no-gutters
        li.col.current
          a.d-block.text-center(href="#") Головной мозг
        li.col
          a.d-block.text-center(href="#") Позвоночник и спинной мозг

    .list__blog.mb-2
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b1")
          .col-9
            .item__text
              h3
                a(href="#") Артерио-венозные мальформации
              p.mb-0 Врожденный сложный сосудистый порок развития.<br> Образование представляет собой клубок сосудов, напрямую связывяющий артериальную и венозную системы и, таким образом, шунтирующий часть крови минуя мозговое вещество.<br>АВМ могут проявляться внутримозговыми кровоизлияниями или ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b2")
          .col-9
            .item__text
              h3
                a(href="#") Черепно-мозговая травмы головы, перелом черепа, ушибы и отеки головного мозга
              p.mb-0 Основные принципы классификации: тяжесть (лёгкая черепно-мозговая травма, черепно-мозговая травма средней тяжести, тяжёлая черепно-мозговая травма), сочетанность (изолированная, сочетанная, комбинированная), вид повреждения ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b3")
          .col-9
            .item__text
              h3
                a(href="#") Межпозвоночная грыжа<br> (грыжа межпозвонкового диска)
              p.mb-0 Межпозвоночная грыжа (межпозвонковая грыжа, грыжа межпозвоночного диска, грыжа позвоночника) - это смещение (выпячивание) фрагмента ядра межпозвоночного диска в спинномозговой канал, вследствие чего происходит сдавливание ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b4")
          .col-9
            .item__text
              h3
                a(href="#") Кавернозные ангиомы
              p.mb-0 Разновидность сосудистых мальформаций, формирующихся в различных отделах головного и спинного мозга. Эти образования обычно четко отграничены от окружающих тканей и представляют собой совокупность сосудистых полостей различных размеров и формы, содержащих продукты распада крови...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b5")
          .col-9
            .item__text
              h3
                a(href="#") Эпилепсия
              p.mb-0 Эпилепсия - это болезнь, возникающая в результате чрезмерной патологической электрической активности отдельных частей головного мозга, что приводит к периодическим судорожным припадкам. Припадки могут быть различными. Некоторые люди просто застывают на месте на несколько секунд, у других же ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b6")
          .col-9
            .item__text
              h3
                a(href="#") Спондилолистез
              p.mb-0 Смещение (соскальзывание) одного из позвонков относительно нижележащего вперед (антеролистез) или назад (ретролистез). Спондилолистез наиболее часто встречается в шейном и поясничном отделах позвоночника, обладающих большей подвижностью и испытывающих наибольшую вертикальную ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b7")
          .col-9
            .item__text
              h3
                a(href="#") Грыжа межпозвоночного диска в поясничном отделе
              p.mb-0 Позвоночник человека состоит из позвонков, между которыми расположены межпозвоночные диски. Межпозвоночные диски дают возможность позвоночнику двигаться и обеспечивают его амортизацию, смягчая нагрузку. Межпозвоночный диск состоит из жесткого внешнего фиброзного кольца и мягкого внутреннего ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b8")
          .col-9
            .item__text
              h3
                a(href="#") Аномалия Арнольда-Киари
              p.mb-0 Врачи подразделяют синдром (аномалию) Арнольда-Киари на 3 типа, в зависимости от структуры ткани головного мозга, которая перемещается в позвоночный канал, и от наличия патологии развития головного или спинного мозга.<br> Многие пациенты, страдающие синдромом Киари, не имеют ...
      //-
      //-
      .item.mb-1
        .row
          .col-3.d-flex.flex-column.justify-content-center.align-items-center
            a.d-block.item__photo(href="#")
              +img("img_b9")
          .col-9
            .item__text
              h3
                a(href="#") Стеноз позвоночного канала
              p.mb-0 Хронический процесс, характеризующийся патологическим сужением центрального позвоночного канала, латерального кармана или межпозвонкового отверстия костными, хрящевыми и мягкоткаными структурами, с вторжением их в пространства, занимаемые нервными корешками и спинным мозгом. Стеноз может быть в ...
      //-
    include layouts/components/_paginations
block sidebar
  .block__bg.pt-2
    +module("name mb-1")
      span.mb-1
        i Гаврюшин<br> Андрей<br> Владимирович
      a(href="#")
        i Нейрохирург<br> Кандидат медицинских наук<br> Врач высшей категории
      .pt-1
        i.d-arrow

    +module("share pb-4")
      a(href="#")
        i.inst
      a(href="#")
        i.fb

  +module("news mb-2 mt-3")
    .item.d-flex.align-items-center
      .pr-2
        i.icon-1
      div
        h3
          a(href="#") Клинические базы ФГБУ НИИ НХ Бурденко РАМН 7
        p Москва, 4-я Тверская-Ямская, д.16
        a.link-more(href="#") Читать подробно
    .item.d-flex.align-items-center
      .pr-2
        i.icon-2
      div
        h3
          a(href="#") Проведение иследований
        p Лаборатогия ФГБУ<br> Центр хирургии мозга<br> им. Марковича А.В.
        a.link-more(href="#") Читать подробно
    .item.d-flex.align-items-center
      .pr-2
        i.icon-3
      div
        h3
          a(href="#") Клинические базы ФГБУ НИИ НХ Бурденко РАМН 7
        p Москва, 4-я Тверская-Ямская, д.16
        a.link-more(href="#") Читать подробно

  +module("form")
    h3.mb-2 Запись на прием
    form(action="#")
      .form-group
        input.form-control.error(type="text" placeholder="Ваше имя")
      .form-group
        input.form-control(type="tel" placeholder="Ваш телефон")
      .form-group
        input.form-control(type="email" placeholder="Ваш e-mail")
      .form-group
        input.form-control(type="text" placeholder="Ссылка на ваши материалы")
      .form-group
        textarea.form-control(placeholder="Опишите вашу праблему")
      .form-group.mb-0
        .d-block
          button.upload.btn.btn-upload.d-flex.align-items-center(type="button" tabindex="-1")
            i.icon-down.mr-1
            span Загрузить ваши материалы
        .d-block
          span.js-upload
            input.file(type='file' data-multiple-caption="выбрано {count} шт. файлов" multiple)
            label.mt-xl-0.mt-lg-0.mt-md-0.mt-sm-0.mt-1(for="file")
              span

      .form-group.mb-0
        button.btn.btn-green Записаться на прием

block append footer
  include layouts/modal/_base
